$wid:width;
$hei:height;
$pad:0.2rem;
$width:100%;
$cen:center;
*{
  padding: 0rem;
  margin:0;
  list-style: none;
  text-decoration: none;
}
.nav{
  #{$wid}:$width;
  #{$hei}:0.5rem;
  background: #007aff;
  font-size: 30px;
  line-height: 0.5rem;
  text-align: $cen;
  color: #fff;
}
.fanhui{
  #{$wid}:0.5rem;
  #{$hei}:$width;
  font-size: 30px;
  text-align: $cen;
  line-height: 0.5rem;
  color: #fff;
  position: absolute;
  left:0;
  top:0;
}
.box{
  width: 80%;
  #{$hei}:60%;
  background: #000;
  position: absolute;
  top:1rem;
  margin:-0.3rem auto;
  img{
    #{$wid}:$width;
    #{$hei}:$width;
  }

}
.bottom{
  width: 100%;
  #{$hei}:1rem;
  background: #111;
  color: #333;
  padding: 0.1rem;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  position: absolute;
  left:0;bottom: 0;
}