*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
.toukuang{
	width: 100%;
    position: relative;
}
.banner{
	width: 100%;
	height: 562px;
	margin-top: -100px;
	position: relative;
	overflow: hidden;
}
.banner img{
	width:100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.daohang{
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.1);
	position: relative;
	left: 0;
	top: 0;
	z-index: 5;
}
.daohang1{
    width: 1170px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.logo{
	width: 100px;
	height: 100px;
	padding-left: 80px;
	float: left;
}
.logo img{
	width: 100px;
	height: 100px;
}
.liebiao{
	width: 900px;
	height: 100px;
	padding-left: 70px;
	float: left;
}
.liebiao ul{
	width: 100%;
	height: 100%;
}
.liebiao ul li{
	width: 140px;
	height: 100px;
	float: left;
	text-align: center;
	line-height: 100px;
	position: relative;
}
.liebiao ul li a{
	width: 100%;
	height:100%;
	display: block;
	color: #fff;
}
.caret{
	width: 2px;
	height: 1px;
	background: #fff;
	vertical-align: middle;
	border-top: 4px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	position: absolute;
	top: 48px;
	right: 26px;
}
.liebiao ul li:hover{
	border-bottom: 1.5px solid #ddd;
}
.leftbtn,.rightbtn{
	width: 36px;
	height: 36px;
	background: #000;
	border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s 0s linear;
    cursor: pointer;
}
.rightbtn{
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0 auto auto;
	margin-right: 20px;
}
.toukuang:hover .leftbtn{
	margin-left: 20px;
	opacity: 1;
}
.toukuang:hover .rightbtn{
	margin-right:20px;
    opacity: 1;
}
.leftbtn:hover,.rightbtn:hover{
	background: rgba(0,0,0,0.3);
}
.bannerzi1{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 30px;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
.bannerzi2{
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: 75px;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.bannerdian{
	width: 72px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0px;
	margin: auto auto 30px;
	z-index: 100;
}
.bannerdian li{
	width: 14px;
	height: 14px;
	float: left;
	margin: 2px;
	border-radius: 50%;
	background: #CCC;
	cursor: pointer;
}
.bannerdian ul li:hover{
	background: #fff;
}
.body1{
	position: relative;
	height: 660px;
	background: #f0f4fc;
}
.body1tu{
	width: 820px;
	height: 440px;
	background: red;
	position: absolute;
	left: 0;top: 0;
	right:0;bottom: 0;
	margin: 75px auto;
}
.body1img{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;top: 0;bottom: 0;right: 0;
}
.body1tu1{
	float: left;
	width: 273px;
	height: 240px;
	background: blue;
}
.body1tu img{
	width: 100%;
	height: 100%;
}
.guochen{
	width: 820px;
	height: 45px;
	position: absolute;
	padding: 23px 0 77px;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin:auto auto 0 auto;
}
.guochenzi1{
	width: 273px;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #007fff;
}
.guochenzi2{
	width: 273px;
	font-size: 15px;
	line-height: 20px;
	margin-top: 5px;
	color: #000;
	text-align: center;
}
.guochen1{
	width: 273px;
	height: 45px;
	float: left;
}
.body2{
	width: 100%;
	height: auto;
	padding-top: 60px;
	background: rgba(0,0,0,0.03);
}
.body22{
	width: 1170px;
	height: auto;
	margin: 0 auto;
}
.body22 .clear{
	clear: both;
}
.body22-left{
	width: 475px;
	height: 255px;
	padding: 15px 40px 0 70px;
	float: left;
	background: blue;
	background-image: url(../img/14.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.body22-right{
	float: left;
	width: 485px;
	height: 271px;
	padding: 0 60px 0 40px;
}
.body22-right p:nth-child(1){
	margin:10px 0 5px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
.body22-right p:nth-child(2),.body22-right p:nth-child(3),.body22-right p:nth-child(4),.body22-right p:nth-child(5),.body22-right p:nth-child(6){
	margin: 10px 0 0 0;
	font-size: 16px;
	line-height: 30px;
	color: #333;
}
.body3{
	width: 100%;
	height: auto;
	padding-top: 60px;
	background: rgba(0,0,0,0.01);
}
.body33{
	width: 1170px;
	height: 260px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.body33 a,.bodys31,.bodys32
,.bodys33,.bodys34,.bodys35{
    width: 230px;
    height: 260px;
    float: left;
    position: relative;
    overflow: hidden;
}
.body33 a img{
	width: 230px;
	height: 260px;
}
.bodys310,.bodys320,.bodys330,.bodys340,.bodys350{
	width: 160px;
	height: 120px;
	padding: 70px 35px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-top: -260px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	transition: all 0.3s 0s linear;
}
.jieshao{
	font-size: 18px;
	line-height: 260px;
	color: #888;
	text-align: center;
	position: absolute;
	left: 0;top:0;right: 0;bottom: 0;
	margin: auto;
	z-index: 10;
}
.bodys31 a:hover div,.bodys32 a:hover div,.bodys33 a:hover div,.bodys34 a:hover div,.bodys35 a:hover div{
	margin-top: 0;
}
.bodys31:hover .jieshao,.bodys32:hover .jieshao,.bodys33:hover .jieshao,.bodys34:hover .jieshao,.bodys35:hover .jieshao{
	display: none;
}
.body4{
    width: 100%;
    padding: 50px 0;
    background: #f0f4fc;
}
.body44{
	width: 1170px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.zuixin{
	width: 100%;
	height: 35px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 35px;
	color: #000;
}
.dongtai1{
	width: 360px;
	height: 422px;
	padding: 0 15px 70px;
	float: left;
	position: relative;
}
.dongtai1tu,.dongtai1tu img{
	width: 360px;
	height: 160px;
	position: relative;
}
.dongtai1tu h4{
	position: absolute;
	top: 0;
	left: 0;
    margin: 90px 0 3px 0;
    padding-left: 20px;
    color: #fff;
}
.dongtai1zi{
	margin-top: 15px;
	padding: 10px;
	line-height: 27px;
	font-size: 14px;
	color: #333;
}
.xiangqing{
	position: absolute;
	left: 15px;
	bottom: 70px;
	padding: 7px 17px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #3876ff;
	border-radius: 4px;
}
.body5{
	width: 100%;
	height: 90px;
	background-image: url(../img/3.jpg);
	background-size: 100% 200%;
	background-position: -40% 0;

}
.body5 .lianxi{
	padding: 8px 32px;
	border:2px solid #fff;
	border-radius: 8px;
	font-size: 16px;
	color: #000;
	text-align: center;
	display: inline-block;
	margin: 27px auto;
	margin-left: 45%;
	cursor: pointer;
}
.lianxi:hover{
	background: #3876ff;
	border: 2px solid #3876ff;
	color: #fff;
}
footer{
	width: 100%;
	height: 430px;
	background: rgba(0,0,0,0.9);
}
.foot-top{
	width: 1170px;
	height: 300px;
	padding-top: 70px;
	margin: 0 auto;
	overflow: hidden;
}
.foot-bottom{
	width: 100%;
	height: 59px;
	border-top: 1px solid #555;
}
.foot-logo{
	width: 235px;
	height: 160px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}
.foot-logo img{
	width: 100%;
	height: 100%;
	background: blue;
}
.qicai{
	width: 170px;
	height: auto;
	float: left;
}
.qicai h4,.chengguo h4{
	line-height: 30px;
	color: #fff;
	margin-bottom: 20px;
}
.qicai p,.chengguo p,.qicai p a,.chengguo p a{
	font-size: 14px;
	color: #a3a3a3;
	line-height: 26px;
	margin-bottom: 10px;
}
.chengguo{
	width: 290px;
	height: auto;
	float: left;
}
.footer-bottom{
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}
.footer-bottom p{
	color: #fff;
	text-align: center;
	line-height: 59px;
}
.guding{
	width: 60px;
	height: 200px;
	border-radius: 10px;
	background: rgba(0,0,0,0.9);
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto 0 auto auto;
	cursor: pointer;
	margin-right: -20px;
	transition: all 0.3s 0s linear;
}
.guding:hover{
    margin-right: -10px;
}
.denglu,.zhuce{
	font-size: 20px;
	line-height: 20px;
	margin:30px 15px;
	text-align: center;
	float: left;
	color: #fff;
}
.denglu:hover,.zhuce:hover{
	color: #007fff;
}
.denglu1{
	width: 400px;
	height: 300px;
	padding: 50px 50px;
	background: rgba(0,0,0,0.95);
	position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;
	margin:auto;
	z-index: 100;
	border-radius: 20px;
	display: none;
}
.user,.pass,.denglu2{
	width: 400px;
	height: 50px;
	border-radius: 10px;
	border:1px solid #007fcc;
	margin:25px auto;
	font-size: 30px;
	line-height: 50px;
}
.denglu2{
    background: #007fff;
    color: #fff;
    border:0px;
    cursor: pointer;
}
.zhuce1,.wangji{
	font-size: 12px;
	position: absolute;
	left: 50px;top:auto;right: auto;bottom: 20px;
	color: #ccc;
}
.wangji{
	position: absolute;
	left: auto;top: auto;right: 50px;bottom: 20px;
}
.zhuce1:hover,.wangji:hover{
	color: #007fff;
}
.zhuce2{
	width: 400px;
	height: 500px;
	padding: 50px;
	position: fixed;
	left: 0;top: 0;right: 0;bottom: 0;
	margin:auto;
	background: rgba(0,0,0,0.95);
	border-radius: 20px;
	z-index: 100;
	overflow: hidden;
	display: none;
}
.user1,.pass1,.phone,.yanzheng,.fasong,.zhuce3{
	width: 400px;
	height: 50px;
	border-radius: 10px;
	border:1px solid #007fff;
	margin:25px auto;
	font-size: 30px;
	line-height: 50px;
	color: #000;
}
.yanzheng,.fasong{
	width: 198px;
	float: left;
}
.fasong,.zhuce3{
	text-align: center;
	float: left;
	background: #007fff;
	color: #fff;
	cursor: pointer;
}
.guanbi{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	color: #ccc;
	transition: all 0.5s linear;
	cursor: pointer;
}
.guanbi:hover{
	transform: rotate(180deg);
}