*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
.toukuang{
	width: 100%;
    position: relative;
}
.banner{
	width: 100%;
	height: 562px;
	margin-top: -100px;
	position: relative;
}
.banner img{
	width:100%;
	height: 100%;
}
.daohang{
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.9);
	position: relative;
	left: 0;
	top: 0;
	z-index: 5;
}
.daohang1{
    width: 1170px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.logo{
	width: 100px;
	height: 100px;
	padding-left: 80px;
	float: left;
}
.logo img{
	width: 100px;
	height: 100px;
}
.liebiao{
	width: 900px;
	height: 100px;
	padding-left: 70px;
	float: left;
}
.liebiao ul{
	width: 100%;
	height: 100%;
}
.liebiao ul li{
	width: 140px;
	height: 100px;
	float: left;
	text-align: center;
	line-height: 100px;
	position: relative;
}
.liebiao ul li a{
	width: 100%;
	height:100%;
	display: block;
	color: #fff;
}
.caret{
	width: 2px;
	height: 1px;
	background: #fff;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	position: absolute;
	top: 48px;
	right: 26px;
}
.liebiao ul li:hover{
	border-bottom: 1.5px solid #ddd;
}
.border{
	width: 1170px;
	padding: 100px 0px;
	margin:0 auto;
	overflow: hidden;
}
.name{
	height: 40px;
	font-size: 20px;
	line-height: 40px;
}
.jianjie{
	font-size: 14px;
	line-height: 24px;
	color: #333;
	margin-bottom: 15px;
}
.jianli{
	margin:20px 0 35px;
	overflow: hidden;
}
.jianzuo{
	width: 50%;
	float: left;
	overflow: hidden;
}
.jianyou{
	width: 50%;
	float: left;
	overflow: hidden;
}
.zhongwen,.guoji{
	width: 90px;
	padding: 0 15px;
	float: left;
	color: #999;
	line-height: 30px;
	height: 30px;
}
.guoji{
	width: 300px;
	color: #333;
}
.borderleft{
	width: 900px;
	float: left;
}
.borderright{
	width: 270px;
	float: left;
}
.sport{
	font-size: 22px;
	line-height: 24px;
	color: #333;
	border-left: 12px solid #4f9cee;
	margin:35px 0 15px 0;
	padding:0 30px;
}
.shengya{
	font-size: 14px;
	color: #333;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: justify;
}
.borderright img{
    margin: 20px 35px;
    width: 200px;
    height: 300px;
}
body{
	background: rgba(0,0,0,0.01);
	background-image: url(../img/71.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}